<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col"> ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">ROLE</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
        <div th:each="role : ${user.getRoles()}">
            <span th:text="( ${role.getName() == 'ROLE_ADMIN'} ? 'ADMIN'
                        : ( ${role.getName() == 'ROLE_USER'} ? 'USER') )"></span>
        </div>
        </td>
        <td>
            <form th:method="GET" th:action = "@{admin/{id}/update(id=${user.getId()})}">
                <input type = submit value="Update"/>
            </form>
        </td>
        <td>
            <form th:method="post" th:action="@{admin/delete/{id}(id=${user.getId()})}">
                <input type = submit value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:href="@{/new_user}" th:action = "@{/new_user}">
    <input type = submit value="Create new user"/>
</form>
<div th:replace="fragments/logout :: logout"></div>
</body>
</html>